<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script  type="text/javascript" src="angular.min.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.js"></script>
        
        <script src="factory-service.js"></script> 
        
      <!--  <script src="mutipleservice.js"></script> --->
        
       <!-- <script src="servicefunction.js"></script> <!-- using call back method--->
     <!---  <script src="service.js"></script> --->
    <!-- i have two diffrent service.js file with two diff ways of doing -->
      </head>
    <body ng-app="GitHubUsers">
                    
        <div ng-controller="GetUserDetails">
            
        <input type="button" ng-click="getUsers()" value="Get Git Hub Users"> <br/> <br>
                        
             <div ng-show="showUsers">     
            <table border="1">
                
              <thead>
                        <th>S.No</th>
                        <th>Login</th>
                        <th>Type</th>
                        <th>site Admin</th>
                    
                </thead>
                        
                <tr ng-repeat ="user in users">
                    <td>{{$index+1}}</td>
                    <td>{{user.login}} </td>
                    <td>{{user.type}}</td>
                    <td>{{user.site_admin}} </td>
                                
                </tr>
                            
            </table> 
            </div> <br/> <br/>
            <input type="button" ng-click="getRepos()"  value="Get Repostories"> 
            <input type="text" ng-model="repo"/> <br/> <br>
            
            <div ng-show="showRepos"> 
            <table border="1">
               
                <thead>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Fork Url</th>
                       <th>Description</th>
                    
                 </thead>
                        
                <tr ng-repeat ="repo in repos">
                    <td>{{$index+1}}</td>
                    <td>{{repo.full_name}} </td>
                    <td>{{repo.url}} </td>
                     <td>{{repo.forks_url}} </td>
                     <td>{{repo.description}}</td>
                                                
                </tr>
                            
            </table>
            </div>
        
        </div>