<!---   <table border="1">
    <tr>
        <th>  Name </th>
        <th>  Age </th>
        <th>  Email </th>
    </tr>
    <tr ng-repeat="person in xyz">
        
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.email}}</td>
    
    </tr>
</table> ---->


<table border="1">
    <tr>
        <th>  Name </th>
        <th>  Age </th>
        <th>  Email </th>
    </tr>
    <tr ng-repeat="person in persons">
        
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.email}}</td>
    
    </tr>
</table>



